# MQTT Broker Listener/Publisher
MQTT_HOST=
MQTT_PORT=
MQTT_USER=
MQTT_PASSWORD=
# These two are only required for local testing
API_HOST=localhost
API_PORT=8000

# API - Only for local testing
DATABASE_URL=sqlite:///test.db
PUBLISHER_HOST=localhost
PUBLISHER_PORT=7999

# API and MQTT
POST_TOKEN=example    # Used as authorization token for POST
PATH_FIXTURES=fixtures
ENV=development       # Only for local testing

# Postgres credentials - Only for production or deploying with compose
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=
